.popup__title_сonfirmation {
  margin: 0;
  padding: 0;
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  max-width: 358px;
  align-self: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 897px) {
  .popup__title_сonfirmation {
    font-size: 20px;
    line-height: 24px;
    max-width: 244px;
    margin-bottom: 50px;
  }
}
