.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - (200px * 2));
  /* align-self: stretch; */
  margin: auto;
  margin-bottom: 36px;
  border-bottom: rgb(84,84,84, 0.7) solid 1px;
}

@media screen and (max-width: 897px) {
  .header {
    max-width: 560px;
  }
}

@media screen and (max-width: 610px) {
  .header {
   width: 100%;
  }
}
